html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primary-font: "Russo One", sans-serif;
  --light-text: #fffffc;
  --dark-text: #000000;
  --primary-title: #ffffff;
  --accent: #e27601;
  --mode-background: #333087;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  border: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
body {
  font-family: var(--primary-font);
  background-color: var(--mode-background);
  color: var(--light-text);
  font-weight: 400;
  font-size: 25px;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    padding-left: 52px;
    padding-right: 52px;
  }
}
@media screen and (min-width: 1536px) {
  .container {
    width: 1536px;
    padding-left: 48px;
    padding-right: 48px;
  }
}

/* ========== Hero ========== */

.hero-section {
  padding-top: 30px;
  padding-bottom: 40px;
  background-image: url(./images/mob-hero-stars.png);
  background-size: auto cover;
  background-position: center 0;
  background-repeat: no-repeat;
  @media screen and (min-width: 1024px) {
    padding-top: 60px;
    padding-bottom: 50px;
    background-image: url(./images/tab-hero-stars.png);
  }
  @media screen and (min-width: 1536px) {
    padding-top: 90px;
    padding-bottom: 90px;
    background-image: url(./images/deck-hero-stars.png);
  }
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 1024px) {
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
  }
  @media screen and (min-width: 1536px) {
    gap: 80px;
  }
}

.hero-logo {
  margin-bottom: 30px;
  width: 185px;
  height: 184px;
  @media screen and (min-width: 1024px) {
    width: 247px;
    height: 246px;
  }
  @media screen and (min-width: 1536px) {
    width: 345px;
    height: 345px;
  }
}

.hero-title {
  max-width: 218px;
  font-size: 48px;
  letter-spacing: 1px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--primary-title);
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
  @media screen and (min-width: 1024px) {
    max-width: 100%;
    font-size: 48px;
    letter-spacing: 4px;
    margin-bottom: 0;
    margin-top: 30px;
  }
  @media screen and (min-width: 1536px) {
    font-size: 84px;
  }

  span {
    font-size: 25px;
    line-height: 1.5;
    @media screen and (min-width: 1024px) {
      font-size: 36px;
    }
    @media screen and (min-width: 1536px) {
      font-size: 62px;
    }
  }
}

.hero-img {
  margin-bottom: 46px;
  width: 283px;
  height: 167px;
  @media screen and (min-width: 1024px) {
    width: 925px;
    height: 432px;
    margin-top: -75px;
  }
  @media screen and (min-width: 1536px) {
    margin-bottom: 100px;
    width: 1439px;
    height: 708px;
  }
}

.hero-advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  @media screen and (min-width: 1024px) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1536px) {
  }
}

.hero-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 1024px) {
    width: 387px;
    align-items: flex-start;
  }
  @media screen and (min-width: 1536px) {
    width: 532px;
  }

  .hero-items__qst {
    text-align: center;
    font-size: 25px;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: uppercase;
    @media screen and (min-width: 1024px) {
      text-align: left;
      font-size: 37px;
    }
    @media screen and (min-width: 1536px) {
      font-size: 52px;
    }
  }

  .hero-items__answ {
    font-size: 21px;
    letter-spacing: 1px;
    color: var(--light-text);
    text-align: center;
    @media screen and (min-width: 1024px) {
      text-align: left;
      font-size: 29px;
    }
    @media screen and (min-width: 1536px) {
      font-size: 37px;
      letter-spacing: 3px;
    }
  }
}

.hero-items:nth-child(n + 3) {
  @media screen and (min-width: 1024px) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
  }
  @media screen and (min-width: 1536px) {
    gap: 30px;
  }
}

/* ========== Catalog ========== */
.catalog-section {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--primary-title);
  color: var(--dark-text);
}

.catalog-wrapper {
  position: relative;
}

.catalog-img {
  padding-top: 45px;
  margin-bottom: 45px;
  width: 280px;
  height: 256px;
  @media screen and (min-width: 1024px) {
    width: 921px;
    height: 558px;
    margin-bottom: 100px;
  }
  @media screen and (min-width: 1536px) {
    width: 1439px;
    height: 708px;
  }
}

.catalog-img__text1 {
  position: absolute;
  top: 0;
  left: 140px;
  font-size: 19px;
  letter-spacing: 0px;
  @media screen and (min-width: 1024px) {
    left: 400px;
    font-size: 35px;
    letter-spacing: 1px;
  }
  @media screen and (min-width: 1536px) {
    top: 250px;
    left: 1080px;
    font-size: 37px;
    letter-spacing: 2px;
  }
}

.catalog-img__text2 {
  position: absolute;
  bottom: 7px;
  left: 140px;
  font-size: 19px;
  letter-spacing: 0px;
  @media screen and (min-width: 1024px) {
    left: 680px;
    font-size: 35px;
    letter-spacing: 1px;
  }
  @media screen and (min-width: 1536px) {
    bottom: 80px;
    left: 1080px;
    font-size: 37px;
    letter-spacing: 2px;
  }
}

.catalog-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 1024px) {
    flex-direction: row;
    gap: 28px;
  }
  @media screen and (min-width: 1536px) {
    gap: 46px;
  }
}

.catalog-item:nth-child(even) {
  @media screen and (min-width: 1024px) {
    flex-direction: row-reverse;
  }
}

.catalog-item .catalog-deckription {
  @media screen and (min-width: 1024px) {
    flex: 1;
  }
  @media screen and (min-width: 1536px) {
  }
}

.catalog-img__title {
  font-size: 25px;
  letter-spacing: 1px;
  color: var(--accent);
  text-align: center;
  margin-bottom: 10px;
  @media screen and (min-width: 1024px) {
    font-size: 35px;
    text-align: left;
  }
  @media screen and (min-width: 1536px) {
    font-size: 62px;
    letter-spacing: 2px;
  }
}

.catalog-img__deckr {
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  @media screen and (min-width: 1024px) {
    text-align: left;
    font-size: 25px;
  }
  @media screen and (min-width: 1536px) {
    font-size: 35px;
  }
}

.catalog-img__item {
  margin-bottom: 20px;
  width: 220px;
  height: 220px;
  @media screen and (min-width: 1024px) {
    width: 323px;
    height: 322px;
  }
  @media screen and (min-width: 1536px) {
    width: 501px;
    height: 501px;
  }
}

/* ========== Comparison ========== */
.comparison-section {
  padding-top: 30px;
  padding-bottom: 100px;
  background-image: url(./images/mob-bg-star.png);
  background-size: auto cover;
  background-position: center 100%;
  background-repeat: no-repeat;
}

.comparison-title {
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--primary-title);
  text-align: center;

  h2 {
    font-size: 48px;
    line-height: 1.4;
  }

  span {
    font-size: 25px;
    line-height: 0.7;
  }
}
